/*-- MIXINS --*/
html {
  scroll-behavior: smooth;
}

/* brasil overrides */
.grey-bg {
  background-color: #efeae7;
}

.mdOnly {
  display: none;
}

.btn:not(.collapsed)>.onCollapsedOnly {
  display: none;
}

.btn.collapsed>.onOpenOnly {
  display: none;
}

.noBreak {
  white-space: nowrap;
}

@media (min-width: 892px) {
  .mdOnly {
    display: block;
  }
}

/*-- HTML Overrides --*/
button:focus {
  outline: none;
}

header {
  -webkit-transform: translate3d(1, 0, 0);
  z-index: 199999;
  -webkit-transform-style: preserve-3d;
}

header * {
  -webkit-transform: translate3d(0, 0, 0);
}

footer {
  padding-bottom: 45px;
  padding-top: 65px;
}

footer a[href^="tel:"] {
  color: #fff;
  text-decoration: none;
}

footer .circle-icon {
  max-width: 175px;
}

section {
  padding-bottom: 65px;
}

.list {
  list-style: none;
  padding-left: 0.25rem;
}

.list li {
  padding-bottom: 5px;
  padding-left: .7rem;
  text-indent: -.9rem;
}

.list li:before {
  color: #01b936;
  content: '\2022\00a0';
}

/*-- Bootstrap Overrides --*/
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  font-weight: 700;
  line-height: 1rem;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 13px 20px 10px 20px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:before {
  border-style: solid;
  border-width: 16px 16px 0 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 0;
}

.btn:focus, .btn.focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 991px) {
  .btn, .mutableTxt {
    font-size: 0.875rem !important;
    white-space: normal;
  }
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*-- Bootstrap Overrides End --*/
@font-face {
  font-family: 'Code-Pro';
  src: url("../fonts/2A0D0D_6_0.eot");
  src: url("../fonts/2A0D0D_6_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2A0D0D_6_0.woff") format("woff"), url("../fonts/2A0D0D_6_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Code-Pro-Bold';
  src: url("../fonts/2A0D0D_3_0.eot");
  src: url("../fonts/2A0D0D_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2A0D0D_3_0.woff") format("woff"), url("../fonts/2A0D0D_3_0.ttf") format("truetype");
}

h1, h2, h3 {
  font-family: "Code-Pro", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

h3 {
  font-size: 1.25rem;
}

.text-tertiary {
  color: #932b30;
}

.light {
  font-weight: 300;
  line-height: 1.5rem;
}

.code-pro {
  font-family: "Code-Pro", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code-pro strong {
  font-family: "Code-Pro-Bold", Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code-pro-bold {
  font-family: "Code-Pro-Bold", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*-- Link CSS --*/
a.underline {
  text-decoration: underline;
}

a.underline:hover {
  text-decoration: none;
}

/*-- Link CSS End --*/
header {
  z-index: 5000;
}

.nav-divider {
  border-left: 1px solid #932b30;
  margin: 0 0.5rem;
  width: 1px;
}

.navbar-light .navbar-nav .nav-link {
  height: 43px;
}

.navbar-light .navbar-nav .nav-link img {
  height: 100%;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background: url(../images/nav/close-btn.svg);
}

.nav-item {
  min-width: 44px;
}

.sticky .brand-logo {
  max-width: 110px;
}

.brand-logo {
  max-width: 200px;
  width: 200px;
}

#nav-logo-wrapper {
  left: 0;
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.sticky .navbar {
  padding: 0.2rem 1rem;
}

.sticky #nav-logo-wrapper {
  height: 40px;
  overflow: hidden;
}

.sticky+main {
  padding-top: 70px;
}

@media (max-width: 767px) {
  .navbar-collapse .navbar-nav {
    height: 100vh;
  }
}

/*-- Global Classes --*/
.bg-gold {
  background: #fcb225;
}

.circle-icon {
  display: block;
  margin-bottom: 22px;
  max-width: 50%;
}

.hero-image {
  width: 100%;
}

.max-stop {
  max-width: 820px;
}

.text-block {
  height: 100%;
  padding: 0 10%;
}

/*-- animations ---*/
.animate {
  -webkit-transition: transform 0.75s ease-out, opacity 0.75s ease-out;
  -moz-transition: transform 0.75s ease-out, opacity 0.75s ease-out;
  -ms-transition: transform 0.75s ease-out, opacity 0.75s ease-out;
  -o-transition: transform 0.75s ease-out, opacity 0.75s ease-out;
  transition: transform 0.75s ease-out, opacity 0.75s ease-out;
}

.animate.animate-down-fade, .animate.animate-left-fade, .animate.animate-right-fade {
  opacity: 0;
  -webkit-transform: translate3d(0, -75%, 0);
  -moz-transform: translate3d(0, -75%, 0);
  -ms-transform: translate3d(0, -75%, 0);
  -o-transform: translate3d(0, -75%, 0);
  transform: translate3d(0, -75%, 0);
}

.animate.animate-down-fade.in-view, .animate.in-view.animate-left-fade, .animate.in-view.animate-right-fade {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.animate.animate-left-fade, .animate.animate-right-fade {
  -webkit-transform: translate3d(140%, 0, 0);
  -moz-transform: translate3d(140%, 0, 0);
  -ms-transform: translate3d(140%, 0, 0);
  -o-transform: translate3d(140%, 0, 0);
  transform: translate3d(140%, 0, 0);
  -webkit-transition: transform 0.75s ease-out 0.75s, opacity 0.75s ease-out 0.75s, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  -moz-transition: transform 0.75s ease-out 0.75s, opacity 0.75s ease-out 0.75s, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  -ms-transition: transform 0.75s ease-out 0.75s, opacity 0.75s ease-out 0.75s, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  -o-transition: transform 0.75s ease-out 0.75s, opacity 0.75s ease-out 0.75s, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: transform 0.75s ease-out 0.75s, opacity 0.75s ease-out 0.75s, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.animate.animate-right-fade {
  -webkit-transform: translate3d(-140%, 0, 0);
  -moz-transform: translate3d(-140%, 0, 0);
  -ms-transform: translate3d(-140%, 0, 0);
  -o-transform: translate3d(-140%, 0, 0);
  transform: translate3d(-140%, 0, 0);
}

.animate.animate-fade {
  opacity: 0;
}

.animate.animate-fade.in-view {
  opacity: 1;
}

.animate.flip {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 1, 0, 90deg);
  -moz-transform: rotate3d(0, 1, 0, 90deg);
  -ms-transform: rotate3d(0, 1, 0, 90deg);
  -o-transform: rotate3d(0, 1, 0, 90deg);
  transform: rotate3d(0, 1, 0, 90deg);
}

.animate.flip.in-view {
  -webkit-transform: rotate3d(0, 1, 0, 0);
  -moz-transform: rotate3d(0, 1, 0, 0);
  -ms-transform: rotate3d(0, 1, 0, 0);
  -o-transform: rotate3d(0, 1, 0, 0);
  transform: rotate3d(0, 1, 0, 0);
}

.animate.delay-1 {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.animate.delay-2 {
  -webkit-transition-delay: 0.45s;
  -moz-transition-delay: 0.45s;
  -ms-transition-delay: 0.45s;
  -o-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.animate.delay-3 {
  -webkit-transition-delay: 0.65s;
  -moz-transition-delay: 0.65s;
  -ms-transition-delay: 0.65s;
  -o-transition-delay: 0.65s;
  transition-delay: 0.65s;
}

.animate.delay-4 {
  -webkit-transition-delay: 0.85s;
  -moz-transition-delay: 0.85s;
  -ms-transition-delay: 0.85s;
  -o-transition-delay: 0.85s;
  transition-delay: 0.85s;
}

.animate.delay-5 {
  -webkit-transition-delay: 1.05s;
  -moz-transition-delay: 1.05s;
  -ms-transition-delay: 1.05s;
  -o-transition-delay: 1.05s;
  transition-delay: 1.05s;
}

/*-- Section Specific --*/
#riscas-bar, #bios #riscas-bar-2 {
  background: url(../images/riscas-bar-brasil.jpg) center repeat-y;
  background-size: cover;
  height: 22px;
}

.fullHeight {
  height: 100%;
}

.text-dark {
  color: #080808;
}

#hero {
  line-height: 40px;
}

@media (max-width: 991px) {
  #hero {
    line-height: 25px;
  }
}

#hero #hero-wrapper {
  background: url(./images/background.png) no-repeat 50% 50%;
  background: url(./images/background.png) no-repeat 50% 50%, -moz-linear-gradient(left, #102c16 50%, #102c16 50%);
  background: url(./images/background.png) no-repeat 50% 50%, -webkit-linear-gradient(left, #102c16 50%, #102c16 50%);
  background: url(./images/background.png) no-repeat 50% 50%, linear-gradient(to right, #102c16 50%, #102c16 50%);
  background-size: cover;
  min-height: 650px;
}

#gallery p, #gallery img {
  width: 100%;
}

#bios .btn:before {
  border-color: #fff #01b936 #fff #fff;
  background: #fff;
}

#bios .btn:hover, #bios .btn:focus, #bios .btn:active {
  background-color: #efeae7;
  color: #01b936;
}

#bios .btn:hover:before, #bios .btn:focus:before, #bios .btn:active:before {
  border-color: #fff #efeae7 #fff #fff;
}

#bios .managing-directors {
  z-index: 5;
}

#bios #riscas-bar-2 {
  height: 7px;
}

@media (max-width: 767px) {
  #bios .collapsed, #bios .collapse:not(.show) {
    display: block;
  }
}

#contact .btn {
  background: #fff;
  color: #01b936;
}

#contact .btn:before {
  border-color: #01b936 #fff #01b936 #01b936;
  background: #01b936;
}

#contact .btn:hover, #contact .btn:focus, #contact .btn:active {
  background-color: #efeae7;
  color: #01b936;
}

#contact .btn:hover:before, #contact .btn:focus:before, #contact .btn:active:before {
  border-color: #01b936 #efeae7 #01b936 #01b936;
}

/*-- IE FIXES --*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%;
  }

  .sticky #nav-logo-wrapper img[src*=".svg"] {
    width: 148px;
  }

  #hero .position-absolute {
    bottom: 0;
    height: 50%;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    width: 100%;
  }
}
.carrousel-logos{
    width: 200px; 
    height: 200px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 10px;
}